body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
html, body, #map {
	height: 100%;
}

circle {
	fill-opacity: .3;
	fill: red;
	stroke-width: 0px;
}
circle:hover {
	stroke: black;
	stroke-width: 2px;
	cursor: crosshair;
}

div.tooltip{
	padding: 6px;
	background: white;
	visibility: hidden;
	position: absolute;
	z-index: 10;
}
p.tooltip-text{
	margin: 0px;
	padding: 0px;
}

div.menu{
	position: fixed;
	margin: 0px;
	padding: 10px;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 500px;
	background: rgba(255,255,255,.8);
}

em{
  color: red;
  font-weight: bold;
}
