<html>
<head>
	<title>DMC Web Stack</title>
	<script type="text/javascript" src="./static/lib/d3.js"></script>
	<script type="text/javascript" src="./static/lib/leaflet.js"></script>
	<link rel="stylesheet" href="./static/lib/leaflet.css" />

	<!-- import external stylesheet -->
	<link rel="stylesheet" href="./static/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>

	<div id="map"></div>

	<div class="tooltip">
		<p class="tooltip-text" id="title">This is the title</p>
		<p class="tooltip-text" id="price">This is the price</p>
	</div>

	<div class="menu">
		<p><h4>DMC Web Stack</h4></p>
		<form>
			<p><input id="heatmap" type="checkbox">Heat Map</p>
			<p><input type="button" value="Update Data" onclick="updateData()"></p>
			<p>Status: <em id="message"></em></p>
		</form>
	</div>

	<!-- import external script -->
	<script type="text/javascript" src="./static/script.js"></script>


</body>
</html>